<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.two.trial.yannick.todolist_2"
android:versionCode="1"
android:versionName="1.0" >

<!--<uses-sdk-->
    <!--android:minSdkVersion="8"-->
    <!--android:targetSdkVersion="17" />-->
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<application
    android:allowBackup="true"
    android:label="@string/app_name"
    android:theme="@style/AppTheme" >
    <activity
        android:name="com.two.trial.yannick.todolist_2.Login"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.two.trial.yannick.todolist_2.OverviewActivity"
        android:label="@string/title_activity_overview">
        <intent-filter>
            <action android:name="SHOW_OVERVIEW" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.two.trial.yannick.todolist_2.DetailviewActivity"
        android:label="@string/title_activity_detailview">
        <intent-filter>
            <action android:name="SHOW_DETAILS" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

</application>

</manifest>